<div class="container-fluid bg-secondary d-flex justify-content-between align-items-center p-3" role="banner">
  <div>
    <img width="32" alt="EKL Logo" src="./assets/icons/logo-ekl.svg"/><span class="mx-2">Einkaufsliste</span>
  </div>
  <div class="mx-5 search-container">
    <input type="text" class="form-control" placeholder="Suchen...">
  </div>
  <div>
    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal">
      <i class="bi bi-person"></i> Login
    </button>
  </div>
</div>
