<form [formGroup]="createUserForm" (ngSubmit)="createUser()">
  <div class="form-group">
    <label for="email">* Email</label>
      <input [formControl]="c.username" type="text" class="form-control" id="email">
      <div *ngIf="hasError(c.username, 'required')" class="feedback-error">Email is required</div>
      <div *ngIf="hasError(c.username, 'email')" class="feedback-error">Email is invalid</div>
  </div>
  <div>
    <label for="password">* Password</label>
    <input [formControl]="c.password" type="text" class="form-control" id="password">
    <div *ngIf="hasError(c.password,'required')" class="feedback-error">Password is required</div>
    <div *ngIf="hasError(c.password,'minlength')" class="feedback-error">Password must longer than 8 charactors</div>
  </div>
  <div class="form-group">
      <label for="firstname">Firstname</label>
      <input [formControl]="c.firstname" type="text" class="form-control" id="firstname">
  </div>
  <div>
    <label for="name">Name</label>
    <input [formControl]="c.name" type="text" class="form-control" id="name">
  </div>
  <div>
    <label for="birthday">Birthday</label>
    <input [formControl]="c.birthday" type="text" class="form-control" id="birthday">
  </div>

  <button [disabled]="createUserForm.invalid" type="submit" class="btn btn-primary mb-4">Create</button>
</form>
